.containerBorder {
  border: 2px solid #f8f9fa;
  margin-top: 4rem;
  margin-left: 2rem;
}
.imgStyle {
  width: 65vh;
  margin-left: 6rem;
}
.borderSize {
  width: 33vh;
  height: 47vh;
  margin-top: 2.5rem;
  margin-left: 4rem;
}
.userImage {
  margin-top: 1rem;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 1rem;
}
.textName {
  margin-top: 2rem;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
}
.textStyle {
  color: #6c757d !important;
  font-size: 1rem;
}

.text {
  line-height: 1.7;
  color: #999;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}
input {
  margin-top: -1rem !important;
}
.info {
  color: black;
}
.size {
  margin-top: -0.3rem !important;
  width: 29vh;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  height: 55px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
.btn-bid {
  cursor: pointer;
  border-radius: 0;
  width: 90%;
  font-weight: 400;
  font-size: 1rem;
  background-color: rgb(228, 226, 226);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.btn-pay {
  cursor: pointer;
  border-radius: 0;
  width: 90%;
  font-weight: 400;
  font-size: 1rem;
  background-color: #f37121;
  text-align: center;
  white-space: nowrap;
  color: white;
  vertical-align: middle;
}
